body {
    margin: 0px;
}

header {
    background-color: #183D4E;
    color: white;
    overflow: hidden;
    position: relative;
    text-align: center;
}

img {
    max-width: 200px;
    max-height: 200px;
}

header h1 {
    font-family: "Roboto", "Helvetica";
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    font-size: 5vh;
    margin-top: 7vh;
    margin-bottom: 7vh;
}

header h1 b {
    font-weight: 500;
}

.mdl-grid {
    text-align: center;
    width: 50vw;
}

#punsch-score {
    margin-top: 5vh;
    height: 30vh;
}

img {
    width: 5vw;
    height: auto;
}
